<mat-card *ngIf="blog" class="details-card">
	<mat-card-header>
		<mat-card-title>
			{{blog.title}}
			<span>
				<button mat-button type="button"
					(click)="onDeleteClick()">Delete entry</button>
			</span>
		</mat-card-title>
		<mat-card-subtitle>
			<span>{{blog.author}} | </span>
			<span>{{blog.date | date}}</span>
		</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		{{blog.content}}
	</mat-card-content>
	<mat-card-footer>
		<mat-card-subtitle>
			<span class="tags" *ngFor="let tag of blog.tags; let last = last"
				[appTagHighlight]="blog.tags" [appTagHighlight]="blog.tags">
				#{{tag}}{{!last ? ' ' : ''}}
			</span>
		</mat-card-subtitle>
	</mat-card-footer>
	<mat-card-actions class="editButton">
		<button mat-button (click)="toggleEdit()">Edit</button>
	</mat-card-actions>
	<mat-card-actions>
		<div *ngIf="edit" class="details-edit">
			<form #form="ngForm">
				<mat-form-field>
					<mat-label>Edit title:</mat-label>
					<input matInput name="blogTitle" [(ngModel)]="blog.title"
						value="{{blog.title}}">
				</mat-form-field>
				<mat-form-field>
					<mat-label>Edit entry:</mat-label>
					<textarea name="blogContent" matInput [(ngModel)]="blog.content">{{blog.content}}</textarea>
				</mat-form-field>
				<button mat-button type="submit" (click)="saveContent()">Save</button>
			</form>
		</div>
	</mat-card-actions>
</mat-card>
