.details-card {
	max-width: 50vw;
}
.details-edit {
	margin-left: 5px;
	width: 80%;
}

.details-edit mat-form-field,
textarea {
	width: 100%;
}

.editButton {
	margin-top: 1vh;
}
mat-card-title {
	width: 47vw;
	display: flex;
	justify-content: space-between;
}

mat-card-footer {
	margin-top: 2vh;
	margin-left: 1vw;
}
