.bloglist {
	display: flex;
	flex-direction: row;
}
form {
	display: flex;
	flex-direction: column;
	width: 40vw;
}
.listButton {
	margin-left: 3.4vw;
	margin-bottom: 2vh;
}
.newBlogEntry {
	margin-left: 5vw;
}

mat-card-header {
	margin-bottom: 3vh;
}
mat-list-item:hover {
	background-color: gainsboro;
}
